.work-image {height: 315px;}
.f17-i-curs{
    font-style: italic;
    font-size: 17px;
}
body{
    font-family: brutal,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}